.sideMenu-icon {

    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: var(--main-transition);
    color: var(--main-font-color);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    height: fit-content;
}

.sideMenu-icon:hover {
    color: var(--hover-color);
}


.sideMenu-header.offcanvas-title.h5 {
    font-size: 2rem;
    color: var(--main-font-color);
}

.offcanvas-header .btn-close {
    background-image: url(../../../../../Assets/circle.png);
    background-size: cover;
    opacity: 1;
}

.offcanvas {
    background-color: var(--main-bg) !important;
}

.links-sideMenu {
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;
}

.links-sideMenu a {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: var(--main-transition);
    margin-top: 1rem;
    width: 100%;
    color: var(--main-font-color);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.admin-data.sideMenu-adminData span {
    color: var(--main-font-color);
}

.links-sideMenu a:hover {
    color: var(--hover-color);

}

.links-sideMenu .icon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.main-btn.admin-LogoutBtn {
    align-self: center;
    margin: 0 auto;

}


.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.sub-menu.open {
    max-height: 500px;
    /* Adjust this value based on your content */
}

.drop-down {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.drop-down-link {
    color: var(--main-font-color);
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.drop-down-link:hover {
    color: var(--hover-color);
}

.drop-down .sub-menu {
    padding-left: 2rem;
    font-size: 1rem;
    width: 100%;
}

.drop-down .sub-menu a {
    padding: 0.5rem 1rem;
    margin-top: 0rem;
}

/*=============================Responsive===================================*/

@media (max-width:767px) {
    .links-sideMenu {
        margin-bottom: 2rem;
    }

    .admin-data.sideMenu-adminData {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    .admin-data.sideMenu-adminData .admin-img {
        margin: 0;
        margin-bottom: 1.5rem;
        width: 8rem;
    }
}


@media (min-width:768px) and (max-width:991px) {
    .admin-data.sideMenu-adminData {
        display: none;
    }
}

@media (min-width:992px) {
    .admin-data.sideMenu-adminData {
        display: none;
    }
}